name: Django CI

on:
  pull_request:
  push:
    branches: [devlop-aj, master]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint
        run: |
          flake8 .
          black . --check

      - name: Tests
        run: |
          python manage.py migrate
          pytest
